.mockbuster {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.links {
  color: #0070f3;
  text-decoration: none;
  font-size: 1.5rem;
  flex-direction: column;
  height: 10rem;
}

a.footer {
  font-size: 0.8rem;
  color: #551a8b;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
